<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="enableMetaData">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="enableMetaData" name="BasCal_WCF_Host.EventDataService">
        <endpoint address="BasCal" binding="netTcpBinding" contract="BasCal_WCF_Host.IEventDataService" />
        <endpoint address="BasCal" binding="basicHttpBinding" contract="BasCal_WCF_Host.IEventDataService" />
        <endpoint address="" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" contract="BasCal_WCF_Host.IClientAccessPolicy" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9006" />
            <add baseAddress="http://localhost:9007" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HarkkaprojektiDBEntities" connectionString="Data Source=localhost;Initial Catalog=HarkkaprojektiDB;integrated security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>