<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HarkkaprojektiDBEntities" connectionString="Data Source=localhost;Initial Catalog=HarkkaprojektiDB;integrated security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Service_Solution.DB_Service" behaviorConfiguration="enableMetaData">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000"/>
            <add baseAddress="http://localhost:9001/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="BasCalDB" binding="netTcpBinding" contract="Service_Solution.IDB_Service" />
        <endpoint address="BasCalDB" binding="basicHttpBinding" contract="Service_Solution.IDB_Service" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webHttpBehavior" contract="Service_Solution.IClientAccessPolicy" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="enableMetaData" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>