<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEventDataService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IEventDataService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9006/BasCal" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IEventDataService" contract="EventDataService.IEventDataService"
        name="NetTcpBinding_IEventDataService">
        <identity>
          <userPrincipalName value="einarinau@basware.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9007/BasCal" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEventDataService" contract="EventDataService.IEventDataService"
        name="BasicHttpBinding_IEventDataService" />
    </client>
  </system.serviceModel>
</configuration>