<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="HarkkaprojektiDBEntities" connectionString="Data Source=localhost;Initial Catalog=HarkkaprojektiDB;integrated security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDB_Service" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9001/BasCalDB"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDB_Service"
        contract="ServiceSolutionRef.IDB_Service" name="BasicHttpBinding_IDB_Service" />
    </client>
  </system.serviceModel>
</configuration>